<% content_for :title, "ユーザープロフィール詳細" %>
<body class="pb-16 pt-10">
  <div class="h-full bg-gray-200 p-8">
    <div class="bg-white rounded-lg shadow-xl pb-8">
      <div class="w-full h-[250px]">
        <%= image_tag('profile_background.png', class: "w-full h-full rounded-tl-lg rounded-tr-lg") %>
      </div>
      <div class="flex flex-col items-center -mt-20">
        <% if current_user.avater.present? %>
          <%= image_tag current_user.avater_url, class:"w-40 border-4 border-white rounded-full" %>
        <% else %>
          <%= image_tag("default.png", class:"w-40 border-4 border-white rounded-full" )%>
        <% end %>
        <div class="flex items-center space-x-2 mt-2">
          <p class="text-2xl"><%= current_user.first_name %> <%= current_user.last_name %></p>
        </div>
      </div>
      <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
        <div class="flex items-center space-x-4 mt-2">
          <%= link_to t('profiles.show.edit'), edit_profile_path, class: "flex items-center bg-purple-600 hover:bg-purple-700 text-gray-100 px-4 py-2 rounded text-xs space-x-2 transition duration-100" %>
        </div>
      </div>
    </div>
    <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">
      <div class="w-full flex flex-col 2xl:w-1/3">
        <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
          <h4 class="text-xl text-gray-900 font-bold"><%= t('profiles.show.user_info') %></h4>
          <ul class="mt-2 text-gray-700">
            <li class="flex border-y py-2">
              <span class="font-bold w-24 text-sm"><%= t('activerecord.attributes.user.last_name') %>:</span>
              <span class="text-gray-700" style="max-width: 200px; overflow-wrap: break-word;"><%= current_user.last_name %></span>
            </li>
            <li class="flex border-b py-2">
              <span class="font-bold w-24 text-sm"><%= t('activerecord.attributes.user.first_name') %>:</span>
              <span class="text-gray-700" style="max-width: 200px; overflow-wrap: break-word;"><%= current_user.first_name %></span>
            </li>
            <li class="flex border-b py-2">
            <span class="font-bold w-24 text-sm "><%= t('activerecord.attributes.user.email') %>:</span>
              <span class="text-gray-700 text-sm pl-10" style="max-width: 200px; overflow-wrap: break-word;"><%= current_user.email %></span>
            </li>
            <li class="flex border-b py-2">
              <span class="font-bold w-24 text-sm"><%= t('activerecord.attributes.user.gender') %>:</span>
              <span class="text-gray-700" style="max-width: 200px; overflow-wrap: break-word;"><%= current_user.gender %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full 2xl:w-2/3">
      <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
        <h4 class="text-xl text-gray-900 font-bold"><%= t('activerecord.attributes.user.bio') %></h4>
        <p class="mt-2 text-gray-700">
          <% if current_user.bio.present? %>
            <%= current_user.bio %>
          <% else %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</body>