<%= paginator.render do %>
    <nav>
      <ul class="pagination flex justify-center list-reset">
        <%= first_page_tag unless current_page.first? %>
        <%= prev_page_tag unless current_page.first? %>
        <% each_page do |page| %>
          <% if page.left_outer? || page.right_outer? || page.inside_window? %>
            <!-- flexアイテムを横並びに表示 -->
            <li class="page-item inline">
              <%= page_tag page %>
            </li>
          <% elsif !page.was_truncated? -%>
            <li class="page-item inline">
              <%= gap_tag %>
            </li>
          <% end %>
        <% end %>
        <%= next_page_tag unless current_page.last? %>
        <%= last_page_tag unless current_page.last? %>
      </ul>
    </nav>
<% end %>