<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/header' %>
    <% flash.each do |key, message| %>
      <div class="flash fixed top-[50px] left-0 w-full text-center z-[1000] bg-purple-500/50 text-white py-2 <%= key %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
    <% if logged_in? %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/before_login_footer' %>
    <% end %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlQkifhqzFwnzn8YJjK9RV7lQiI6aH1d4&libraries=places&callback=initMap"></script>
  </body>
</html>
